application/schemas/accountCreation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="accountCreation">
        <xs:complexType>
            <xs:choice>
                <xs:element name="user">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="nickname"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="firstName"/>
                            <xs:element name="passWord" type="xs:long"/>
                            <xs:element name="user">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Za-z0-9.]+@[A-Za-z0-9]+\.[a-zA-Z]{2,3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!--Contains the error message -->
                <xs:element name="denied" type="xs:string"/>

            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>