application/schemas/fullGameList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="gameFile.xsd"/>

    <xs:element name="games">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="game">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="meta">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:long"/>
                                        <xs:element name="author">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="nickname"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:long" name="id" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="summary" minOccurs="0"/>
                                        <xs:element type="xs:date" name="creationDate"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="game" type="gameFileType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>