application/schemas/game.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="gameFile.xsd"/>

    <xs:element name="game" type="gameType"/>

    <xs:complexType name="gameType">
        <xs:sequence>
            <xs:element type="metaType" name="meta"/>
            <xs:element name="game" type="gameFileType">

            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="titre" use="required"/>
    </xs:complexType>

    <xs:complexType name="metaType">
        <xs:sequence>
            <xs:element type="authorType" name="author"/>
            <xs:element type="xs:string" name="summary"/>
            <xs:element type="xs:float" name="rating"/>
            <xs:element type="xs:date" name="creationDate"/>
            <xs:element type="saveType" name="save" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="authorType">
        <xs:sequence>
            <xs:element type="xs:string" name="nickname"/>
        </xs:sequence>
        <xs:attribute type="xs:long" name="id" use="required"/>
    </xs:complexType>


    <xs:complexType name="saveType">
        <xs:sequence>
            <xs:element type="xs:integer" name="points"/>
            <xs:element type="xs:integer" name="currentSituation"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>