application/schemas/gamesList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="gameList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="story" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="title"/>
                            <xs:element type="xs:string" name="summary"/>
                            <xs:element type="authorType" name="author"/>
                            <xs:element type="xs:long" name="playedTimes"/>
                            <!-- may has never been rated -->
                            <xs:element type="xs:float" name="rating" minOccurs="0"/>
                            <xs:element type="xs:long" name="id"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="authorType">
        <xs:sequence>
            <xs:element type="xs:string" name="nickname"/>
        </xs:sequence>
        <xs:attribute type="xs:long" name="id" use="required"/>
    </xs:complexType>

</xs:schema>