application/schemas/rightAnswer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="right">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="userId" type="xs:long"/>
                            <xs:element name="rights" maxOccurs="3">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="rights" type="accountTypes" minOccurs="1" maxOccurs="3"/>
                                        <xs:element name="granted" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


<xs:simpleType name="accountTypes">
<xs:restriction base="xs:string">
    <xs:enumeration value="player"/>
    <xs:enumeration value="admin"/>
    <xs:enumeration value="author"/>
</xs:restriction>
</xs:simpleType>


        </xs:schema>