application/schemas/rightRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="right.xsd"/>

    <xs:element name="right">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="userId" type="xs:long"/>
                            <xs:element name="rights" type="accountTypes" minOccurs="1" maxOccurs="3"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>




</xs:schema>