application/schemas/table_game.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="game" type="gameType">
    </xs:element>
    <xs:complexType name="gameType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="userId" type="xs:long"/>
            <xs:element name="creationDate" type="xs:date"/>
            <!--todo copy/past game once finished, removing the meta and save part or link to the file on the server or something else (up to discussion)-->
            <xs:element name="path" type="xs:string"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="titre" use="required"/>
    </xs:complexType>


</xs:schema>