application/schemas/table_user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <!-- TODO check how the unique constraint works and add it -->
                <xs:element type="xs:long" name="id"/>
                <xs:element type="xs:string" name="nickname"/>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="firstName"/>
                <xs:element name="passWord" type="xs:long"/>
                <xs:element name="creationDate" type="xs:date"/>
                <xs:element name="lastConnexion" type="xs:date"/>
                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Za-z0-9.]+@[A-Za-z0-9]+\.[a-zA-Z]{2,3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>