application/schemas/table_save.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="save">
        <xs:complexType>
            <xs:sequence>
                <!-- id isn't really needed IMHO <xs:element name="id" type="xs:long"/> -->
                <xs:element name="userId" type="xs:long"/>
                <xs:element name="gameId" type="xs:long"/>
                <xs:element name="score" type="xs:integer"/>
                <xs:element name="currentSituation" type="xs:long"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="titre" use="required"/>
        </xs:complexType>
    </xs:element>


</xs:schema>