application/schemas/table_game.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="games">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="game" type="gameType" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="userKey">
            <xs:selector xpath="./game"/>
            <xs:field xpath="id"/>
        </xs:unique>
    </xs:element>



    <xs:complexType name="gameType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="userId" type="xs:long"/>
            <xs:element name="creationDate" type="xs:date"/>
            <xs:element name="path" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>