application/schemas/table_user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" name="id"/>
                            <xs:element type="xs:string" name="nickname"/>
                            <xs:element type="xs:string" name="name" minOccurs="0"/>
                            <xs:element type="xs:string" name="firstName" minOccurs="0"/>
                            <xs:element name="passWord" type="xs:string"/>
                            <xs:element name="creationDate" type="xs:date"/>
                            <xs:element name="lastConnexion" type="xs:date"/>
                            <xs:element name="email">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Za-z0-9.]+@[A-Za-z0-9]+\.[a-zA-Z]{2,3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>


        <xs:unique name="userKey">
            <xs:selector xpath="./user"/>
            <xs:field xpath="id"/>
        </xs:unique>

        <xs:unique name="uniqueNickname">
            <xs:selector xpath="./user"/>
            <xs:field xpath="nickname"/>
        </xs:unique>

    </xs:element>
</xs:schema>